*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:#F3F4F6;
    color:#374151;
    line-height:1.6;
}

/* ENCABEZADO */

h1{
    background:#1F2937;
    color:white;
    text-align:center;
    padding:40px 20px;
    font-size:2.3rem;
}

body > p{
    max-width:1000px;
    margin:30px auto;
    text-align:center;
    font-size:1.1rem;
    padding:0 20px;
    color:#4B5563;
}

/* TITULOS */

h2{
    width:90%;
    max-width:1200px;
    margin:40px auto 15px;
    color:#2563EB;
    font-size:2rem;
}

/* TABLAS */

table{
    width:90%;
    max-width:1200px;
    margin:0 auto 40px;
    border-collapse:collapse;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

th{
    background:#2563EB;
    color:white;
    padding:15px;
    text-align:left;
}

td{
    padding:15px;
    border-bottom:1px solid #E5E7EB;
}


/* FOOTER */

footer{
    margin-top:60px;
    background:#1F2937;
    color:white;
    text-align:center;
    padding:50px 20px;
}

.footer-info h2{
    color:white;
    margin-bottom:15px;
}

.footer-info p{
    color:#D1D5DB;
    margin-bottom:25px;
}

.footer-links{
    margin-bottom:25px;
}

.footer-links a{
    text-decoration:none;
    color:white;
    margin:0 15px;
    transition:.3s;
}

.footer-links a:hover{
    color:#60A5FA;
}

.copy{
    color:#9CA3AF;
}

/* RESPONSIVE */

@media(max-width:768px){

    h1{
        font-size:1.7rem;
        padding:30px 15px;
    }

    h2{
        font-size:1.5rem;
        text-align:center;
    }

    body > p{
        font-size:1rem;
    }

    table{
        display:block;
        overflow-x:auto;
        white-space:nowrap;
        border-radius:10px;
    }

    th,
    td{
        padding:12px;
        font-size:0.9rem;
    }

    .footer-links{
        display:flex;
        flex-direction:column;
        gap:10px;
    }

    .footer-links a{
        margin:0;
    }
}