*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#F3F4F6;
}

/* HERO */

.hero{

    min-height:100vh;

    position:relative;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    overflow:hidden;

    padding:20px;

}

.hero::before{

    content:"";

    position:absolute;

    inset:0;

    background:
    linear-gradient(
        rgba(255,255,255,.45),
        rgba(255,255,255,.45)
    ),
    url("../img/fondo_uno.png");

    background-size:cover;

    background-position:center;

    filter:blur(5px);

}

.hero-content{

    position:relative;

    z-index:2;

    width:100%;

    max-width:900px;

    padding:20px;

}

/* LOGO + TITULO */

.logo-contenedor{

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:0;

    margin-bottom:10px;

}

.logo{

    width:350px;

    height:auto;

    object-fit:contain;

    display:block;

    margin-bottom:-18px;

}

.hero-content h1{

    margin:0;

    font-size:60px;

    color:#1E3A8A;

    font-weight:800;

    line-height:1;

    letter-spacing:0;

}

/* TEXTO */

.hero-content p{

    max-width:700px;

    margin:auto;

    color:#374151;

    line-height:1.8;

}

/* BOTONES */

.hero-botones{

    margin-top:35px;

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

.btn-principal,
.btn-secundario{

    text-decoration:none;

    background:#2563EB;

    color:white;

    padding:14px 35px;

    border-radius:12px;

    font-weight:600;

    transition:.3s;

}

.btn-principal:hover,
.btn-secundario:hover{

    transform:translateY(-4px);

    background:#1D4ED8;

}

/* CELULAR */

@media(max-width:768px){

.logo{

    width:180px;

    margin-bottom:-10px;

}

.hero-content h1{

    font-size:40px;

}

.hero-content{

    padding:10px;

}

.hero-botones{

    flex-direction:column;

    align-items:center;

}

.btn-principal,
.btn-secundario{

    width:100%;

    max-width:300px;

}

}