*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#F3F4F6;
    color:#1F2937;
}

/* HEADER */

header{
    background:#1F2937;
    color:white;
    text-align:center;
    padding:40px 20px;
}

header h1{
    font-size:2rem;
}

/* CONTENIDO */

section{
    max-width:1100px;
    margin:auto;
    padding:20px;
}

.titulo{
    text-align:center;
    color:#2563EB;
    margin:25px 0;
}

/* FORMULARIO */

.contenedor{
    width:100%;
    max-width:450px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

input{
    width:100%;
    padding:12px;
    margin:8px 0;
    border:1px solid #E5E7EB;
    border-radius:10px;
    background:#F9FAFB;
    outline:none;
}

input:focus{
    border-color:#2563EB;
    background:white;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:10px;
    background:#2563EB;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#1D4ED8;
}

/* TABLA */

.tabla-responsive{
    width:100%;
    overflow-x:auto;
    margin-top:20px;
    border-radius:15px;
}

table{
    width:100%;
    min-width:900px;
    border-collapse:collapse;
    background:white;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

th{
    background:#1F2937;
    color:white;
    padding:15px;
    white-space:nowrap;
}

td{
    padding:12px;
    text-align:center;
    border-bottom:1px solid #E5E7EB;
    white-space:nowrap;
}

tr:hover{
    background:#F9FAFB;
}


/* ========================= */
/* FOOTER */
/* ========================= */

footer{

    margin-top:80px;

    background:#1F2937;

    color:white;

    text-align:center;

    padding:50px 20px;
}

.footer-info h2{

    margin-bottom:15px;

    color:white;
}

.footer-info p{

    color:#D1D5DB;

    margin-bottom:25px;
}

.footer-links{

    margin-bottom:25px;
}

.footer-links a{

    text-decoration:none;

    color:white;

    margin:0 15px;
}

.footer-links a:hover{

    color:#60A5FA;
}

.copy{
    text-align:center;
    color:#9CA3AF;
}

/* CELULARES */

@media (max-width:768px){

    header{
        padding:25px 15px;
    }

    header h1{
        font-size:1.4rem;
    }

    section{
        padding:10px;
    }

    .contenedor{
        padding:18px;
    }

    table{
        min-width:800px;
        font-size:12px;
    }

    th,
    td{
        padding:8px;
    }
}